body {
    margin: 0;
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 20px;
}
a:hover {
    background-color: white;
    color: steelblue;
}
img {
    width: 30%;
    display: block;
    margin: 0 auto;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
}